{% include 'header.html.twig' %}

{% block body %}
    <div class="forms_container">
        <div class="forms_title">
            <h2 id="login" class="forms forms_active">Connexion</h2>
            <h2 id="registration" class="forms forms_not_active">Inscription</h2>
        </div>

        <div id="registration_form" class="section_not_active">
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}
                {{ form_row(registrationForm.confirmationPassword) }}
                {{ form_row(registrationForm.siret) }}

                <button class="btn btn_blue width_btn">M'inscrire</button>
            {{ form_end(registrationForm) }}
        </div>
        <div id="login_form" class="section_active">
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}

                <button class="btn btn_blue width_btn">Me connecter</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>

{% endblock %}

{% include('footer.html.twig') %}